body {
	background-image: url("caveBackground.jpg");
	color: white;
}


/* Nav Bar formatting  */

#navbar {
	background-color: #010214;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
	padding: 5px;
	min-width: 300px;
    list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
}

li {
    float: left;
}

li a, .dropbtn{
	display: inline-block;
	color: #b4fdfd;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
	background-color: #001B35; /*Navy Blue */
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #001B35;
	min-width: 160px;
}

.dropdown-content a {
	color: #b4fdfd;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #104E7C;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.main {
	color: #52F9F8;
	background-color: 	#010214;
	margin: 50px;
	min-width: 300px;
	padding: 50px;
}

