body {
	background-image: url("caveBackground.jpg");
	color: white;
}


/* Nav Bar formatting  */

#navbar {
	background-color: black;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
	padding: 5px;
	min-width: 300px;
    list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
}

li {
    float: left;
}

li a, .dropbtn{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
	background-color: brown;
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: purple;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
}

.dropdown-content a {
	color: pink;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: green;
}

.dropdown:hover .dropdown-content {
	display: block;
}

#main {
	background-color: blue;
	margin: 50px;
	min-width: 300px;
	padding: 50px;
}

